.background{
	background-image: url("../images/chern.jpg");
	background-height: 100%;
	background-repeat: no-repeat;
	background-color: #DAA520;
	}

.container{
	margin-top: 20px;
	width: 80%;
	background: rgba(32,178,218,.9);
	padding-bottom: 15px;
	text-align: center;
	border: 5px outset #DAA520;
	
}

.crystal{
	width: 20%;
	height: 20%;
}

#game-title{
	margin-right: 15%;
	margin-left: 15%;
	font-size: 4em;
	color: #d21034;
	text-shadow:0 1px 0 #ccc,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
   background: rgba(56,65,51,.5);
   border: 2px inset #DAA520;
   border-radius: 25px;
}

#gameObjects{
	margin-top: 10px;
}

#dialogue {

}

#pwrCounter{
	color: #FFD700;
	text-decoration-style: bold;
}

#discharge{

}

#cash{
	color:#216C2A;

}

.green{
	color:#00FF00;
}

.gold{
	color: #FFD700;
}

.goldenRod{
	color: #DAA520;
}

.blue{
	color: #537591;
}

.teal{
	color: #20daa5;
}

.sage{
	color: #90a681;
}