.background{
	background-image: url("../images/chern.jpg");
}

.container{
	margin-top: 15%;
	background: rgba(25,25,25,.5);
}

.crystal{
	width: 20%;
	height: 20%;
}

#game-title{
	color: #d21034;
}

#pwrCounter{
	color: #537591;
	text-decoration-style: bold;
}

.green{
	color: #FFD700;
}

.blue{
	color: #537591;
}